body {
  text-align: center;
  font-family: 'Open Sans';
}

pre {
  text-align: left;
  background: #EEE;
  border: 1px solid #CCC;
  margin: 0 auto;
  width: 800px;
  padding: 1em;
}

input {
  padding: 1em;
  margin-bottom: 1em;
}